<div class="container-fluid">
    <div class="container-fluid">
        <h1>OUR MISSION</h1>
    </div>
    <div class="my-container">
        <div class="row separator">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        </div>
        <div class="row separator">
            <div style="display:block;" class="container-fluid embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/sngxJfo29Os" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Subscribe for Updates:</p>
            </div>
            <div class="col-sm-6">
                <input class="btn color-dark" type="submit"value="Submit" style="float: right" />
                <div style="overflow: hidden; padding-right: .5em;">
                    <input class="form-control" type="text" placeholder="email address" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>