<div class="container-fluid">
    <div class="container-fluid">
        <h1>OUR WORK SO FAR</h1>
    </div>
    <div class="container-fluid my-container">
        <h2 class="align-center">Article Series</h2>
        <div class="separator">
            <h3><a class="color-light" href="https://southseattleemerald.com/2016/10/02/the-new-woke-part-one-breaking-through-ego/">Part 1: Breaking Through Ego</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <h3><a class="color-light" href="https://southseattleemerald.com/2016/10/15/the-new-woke-part-two-stepping-into-our-power/">Part 2: Stepping Into Our Power</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <h3><a class="color-light" href="https://southseattleemerald.com/2016/11/20/the-new-woke-part-three-moving-into-the-beyond-a-revolutionary-awakening/">Part 3: Moving Into the Beyond</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <hr>
        <h2 class="align-center">Video Introduction</h2>
        <div class="separator">
            <div style="display:block;" class="container-fluid embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/WtOW_BKvg70" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>