{% extends 'base.html' %}

{% block content %}

<div ng-controller="indexController">
    <div class="jumbotron"
         style="background-image: url({% raw %}{{ bannerImg }}{% endraw %})">

        <div class="banner_inner_container">
            <h5 class="banner_title">The New Woke</h5>
            <h4 style="color:#000000">full site coming soon...</h4>
            <p>Subscribe for Updates: <input type="text" placeholder="email address"/> <input class="btn" type="submit"></p>
        </div>
    </div>

    <div custom-layout first="#062f4f" second="#B82601"> <!-- 404040 -->
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="col-sm-6 ">
                    <h1>MISSION</h1>
                    <p>do dope stuff</p>
                </div>
                <div class="col-sm-6">
                    <div style="display:block;" class="container-fluid embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/sngxJfo29Os" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row container-fluid">
                <h1 data-toggle="tab" href="#about" class="meet-us-header">The Team</h1>
            </div>
            <ul class="nav nav-tabs nav-justified">
                <!--<li class="active"><a data-toggle="tab" href="#about">The Team</a></li>-->
                <li><a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(0)" ng-bind="mahdi_name"></a></li>
                <li><a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(1)" ng-bind="dustin_name"></a></li>
                <li><a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(2)" ng-bind="martin_name"></a></li>
                <li><a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(3)" ng-bind="felicia_name"></a></li>
            </ul>
            <div class="tab-content row">
                <div id="about" class="tab-pane fade in active">
                    <div class="col-sm-3 bio_pic_container">
                        <a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(0)"><img ng-src="{% raw %}{{ mahdi_pic }}{% endraw %}"/></a>
                    </div>
                    <div class="col-sm-3 bio_pic_container">
                        <a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(1)"><img ng-src="{% raw %}{{ dustin_pic }}{% endraw %}"/></a>
                    </div>
                    <div class="col-sm-3 bio_pic_container">
                        <a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(2)"><img ng-src="{% raw %}{{ martin_pic }}{% endraw %}"/></a>
                    </div>
                    <div class="col-sm-3 bio_pic_container">
                        <a data-toggle="tab" ng-href="#bio" ng-click="setCurrentBio(3)"><img ng-src="{% raw %}{{ felicia_pic }}{% endraw %}"/></a>
                    </div>
                </div>
                <div id="bio" class="tab-pane fade">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 bio_pic_container">
                        <img ng-src="{% raw %}{{ current_bio_pic }}{% endraw %}"/>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6 bio_text_container">
                        <p class="pre-scrollable" ng-bind="current_bio_text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <h1>OUR WORK</h1>
            <div class="row">
                <h3>Videos -- cycle</h3>
                <h3>Articles -- links</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}