{% extends 'base.html' %}

{% block content %}

<div ng-controller="indexController">
    <div class="jumbotron"
         style="background-image: url({% raw %}{{ bannerImg }}{% endraw %})">

        <div class="banner_inner_container">
            <h5 class="banner_title">The New Woke</h5>
            <h4>full site coming soon...</h4>
            <!--<p>Subscribe for Updates: <input type="text" placeholder="email address"/> <input class="btn" type="submit"></p>-->
        </div>
    </div>

    <div custom-layout first="#062f4f" second="#B82601"> <!-- 404040 -->

        {% include 'index/mission.html' %}
        {% include 'index/services.html' %}
        {% include 'index/team.html' %}
        {% include 'index/work.html' %}

    </div>
</div>

{% endblock %}